 body {
    padding: 0px;
    margin: 0px;
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.hero {
    margin-top: 100px;
    height: 350px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero .mainText {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero .flexContainer {
    max-width: 1000px;
    border: 1px black solid;
    margin: auto;
    display: flex;
    gap: 10px;
}

.hero .flexContainer .heroText {
    flex: 1;
}

.hero .flexContainer .heroImage {
    flex: 1;
}

.headerBar {
    display: flex;
    margin: auto;
    height: 50px;
    max-width: 1000px;
    border: 1px solid black;
    align-items: center;
}

.headerBar .logoText {
    flex: 3;
    font-size: 24px;
    color: #F9FAF8;
}

.headerBar .navButton {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    height: 500px;
    background-color: white;
}

.quotes {
    height: 400px;
    background-color: #E5E7EB;
}

.contact {
    height: 300px;
    background-color: white;
}

.footer {
    height: 100px;
}