 body {
    padding: 0px;
    margin: 0px;
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.hero {
    height: 450px;
    max-width: 800px;
    min-width: 500px;
}

.headerBar {
    display: flex;
    margin: auto;
    height: 50px;
    max-width: 1000px;
    min-width: 500px;
    border-bottom: 1px solid black;
    align-items: center;
}

.headerBar .logoText {
    flex: 2;
    font-size: 24px;
    color: #F9FAF8;
}

.headerBar .navButton {
    flex: 1;
}

.content {
    height: 500px;
    background-color: white;
}

.quotes {
    height: 400px;
    background-color: #E5E7EB;
}

.contact {
    height: 300px;
    background-color: white;
}

.footer {
    height: 100px;
}